.container{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
}
.flex-box-container-1{
    display: flex;
    border:1px solid black;
    padding:10px;
    justify-content: space-around;
    flex-wrap:wrap;
}

.flex-box-container-1 div{
    padding:10px;
    border:1px solid black;
}

.foter{
    background-color: aqua;
}

.container2{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
}

.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
}

.flex-box-container-2 img{
    border: 5px solid yellow;
    margin: 20px 20px 20px 20px;
}

.container3{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
}

.flex-box-rfs{
    /* display:grid;
    grid-row: 1fr 1fr 1fr; */
    display: flex;
}
.flex-box-rfs img{
 border: 1px solid black;
    padding: 10px 10px 10px 10px;

}

